@import url('https://fonts.googleapis.com/css?family=Inria+Serif|Raleway&display=swap');

body {
    background-image:url("footer_lodyas.png");

}

div.main {
    background:#f9fcff;
}

a.navbar-brand {
    font-family: 'Inria Serif', serif;
    font-size: 2rem;
}

h1, h2, h4 {
    font-family: 'Inria Serif', serif;
}

h3 {
    font-family: 'Inria Serif', serif;
    text-decoration: underline;
}

a.nav-link {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

img.project {
    margin: 2rem;
    height: 10rem;
}

div.alternate2 {
    background:#cfcfcf;
}

div.alternate1 {
    background: #acacac;
}

footer {
    background:#f9fcff;
}

.fa-github {
    color: #000000;
}

.fa-file-pdf {
    color: #5e1f1f;
}

.fa-linkedin {
    color: #2f59ce;
}