@import url('https://fonts.googleapis.com/css?family=Inria+Serif|Raleway&display=swap');

body {
    background-image:url("background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: 100% 17%;
    background-attachment: scroll;
}

a.navbar-brand {
    font-family: 'Inria Serif', serif;
    font-size: 2rem;
}

h1, h2, h4, h5, h6 {
    font-family: 'Inria Serif', serif;
}

h1 {
    text-decoration: underline;
}

h3 {
    font-family: 'Inria Serif', serif;
    text-decoration: underline;
}

div.contact {
    background: #d1f3f3;
    width: 400px;
}

a.nav-link {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

img.project {
    margin: 2rem;
    height: 10rem;
}

div.alternate2 {
    background:#e6e3df;
}

div.alternate1 {
    background: #cfcdc6;
}

footer {
    background:#f9fcff;
}

.fa-github {
    color: #000000;
}

.fa-file-pdf {
    color: #5e1f1f;
}

.fa-linkedin {
    color: #2f59ce;
}